
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {

    color: #007BFF;
    margin-bottom: 20px;
}

h3 {
  
    color: #555; 
    margin-bottom: 20px; 
}

table {
    width: 50%; 
    border-collapse: collapse;
    margin: 20px 0; 
}

th, td {
    padding: 12px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #007BFF; 
    color: white; 
}

tr:hover {
    background-color: #f1f1f1; 
}

a {
    color: #007BFF; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}
